/* Dark mode :) */
:root {
    color-scheme: light dark;
    --primary-color: rgb(255, 255, 255);
    --secondary-color: #115d6c;
    --secondary-color-accent: #094552;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0
}
/* NavBar Styling */
.navlink:hover {
    background-color: rgb(169, 182, 214);
}

.navlink {
    transition-duration: .2s;
}

.navlink>a {
    color: #0f2d61;
    text-decoration: none;
    font-family: arial;
}

#navbar>div {
    padding: 14px 3%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 60px;
}

#navbar {
    background-color: rgb(147, 166, 207);
    /* height: 50px; */
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;

    /* Loop the items onto next line if cannot fit */
    flex-wrap: wrap;
}


/* Background */
#animated-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 400% 400%;
    background-image: linear-gradient(45deg, rgb(149, 156, 231), rgb(225, 225, 240));
    z-index: -1;
    animation: change 10s infinite;
}

@keyframes change {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}


a.button {
    /* make it looks like a button */
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #fff;
    background-color: var(--secondary-color);
    border-bottom: solid 4px var(--secondary-color-accent);
    border-radius: 3px;

    /* transition */
    transition: .4s;
}

a.button:hover {
    background-color: #888;
}

h1 {
    font-size: 2em;
    margin-top: 2rem;
    margin-bottom: 2rem;

    /* Add a shadow effect with a hard shadow*/
    text-shadow: 0.2rem 0.2rem 0rem var(--secondary-color);
}

.tiles {
    display: inline-block;
}