/* Dark mode :) */
:root {
    color-scheme: light dark;
    --primary-color: #255863;
    --secondary-color: #a9a9a9;
    --secondary-color-accent: #094552;
    color: #10353d;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0
}
/* NavBar Styling */
.navlink:hover {
    background-color: #366975;
}

.navlink {
    transition-duration: .2s;
    display: flex;

}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navlink>a {
    color: #ffffff;
    text-decoration: none;
    font-family: arial;

    flex: 1;

    padding: 1rem 3rem;
}

#navbar>div {
    /* padding: 14px 3%; */
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 60px;
}

#navbar {
    background-color: #255863;
    /* height: 50px; */
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;

    /* Loop the items onto next line if cannot fit */
    flex-wrap: wrap;
}


/* Background */
#animated-background {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-size: 400% 400%;
    background-image: linear-gradient(45deg, #7e867e, #ffffff);
    z-index: -1;
    animation: change 5s infinite;
}

#logoEtc {
background-color: #D9DCD6;
padding:1rem;
}

@keyframes change {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}


a.button {
    /* make it looks like a button */
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 3px;

    /* transition */
    transition: .4s;
}

a.button:hover {
    background-color: #366975;
}

h1 {
    font-size: 2.2em;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #194a54;


    /* keep on same line */
    display: inline-block;
}

.tiles {
    display: inline-block;
}

/*xray code*/
/*maybe still useful but unsure:
html,
body {
  height: 100%;
  margin: 0;
}*/

svg {
  position: absolute;
  mix-blend-mode: difference;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
}

/*span {
  color: rgba(0,0,0,.4);
}*/
